@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
html{
    font-size: 62.5%;
    background: #222 url(https://i.imgur.com/HWu44Bv.png)no-repeat fixed center center / cover;
}
body{
    font: 1.6rem sans-serif;
    margin: 0;
}
/* contexte */
h1{
    text-align: center;
    margin-bottom: 0;
    font-size: 250%;
}
h1,h2,ol,p{
    margin: 5;
    padding: 0;
    font-weight: 100;
}
h1,h2{
    font-family: 'Zhi Mang Xing', cursive;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

/* theme css */
:root{
    --color-bg-default: #3498db;
    --header-color:#3498db;
}
header, main{
    max-width: 80rem;
    border: 0.1rem solid transparent;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
}
header{
    margin: 0 auto 0; /* top droite gauche bas */
    padding: .5rem;
    
}
header h1::before{
    content: '\2605'; /* icone unicode */
    vertical-align: .3rem;
    margin-right: .1rem;
    color: rgb(221, 11, 11)
}
main{
    padding: .5rem;
    box-shadow: 0 0 2.0rem transparent ;
}
nav ol{
    padding-left: 3.0rem;
    margin: 1rem ;
}
nav ol li{
    text-transform: capitalize;
    line-height: 2.5rem;
}
section h2, nav h2{
    /* ajouter une propriété */
    background-color: var(--header-color);
    line-height: 3.5rem;
    text-transform: capitalize;
    box-shadow: 0 .3rem #0361a0;
    color: #fafafa;
    padding: .2rem;
}
/* pour les liens */
section .history:target{
    background-color:#e74c3c ;
    box-shadow:0 .3rem #e74c3c;
}

section img{
    display: block;
    width: 100%;
}
section p{
    padding: .5rem;
    line-height: 2.6rem;
    text-align: justify;
}
section .picture{
    margin-bottom: .5rem;
}
main footer{
    text-align: center;
    text-transform: capitalize;
    padding: .5rem;
}